<p>{{name}} 様</p>
<p>この度は、Zenシステムにご登録いただき誠にありがとうございます。</p>
<p>会員登録が完了いたしましたのでお知らせいたします。</p>
<p>【ご注意】</p>
<p
>本メールに身に覚えの無い場合は、本メールを破棄していただきますようお願いいたします。</p>
<p>※このメールは自動返信によって送信しています。</p>
<p>ご返信をいただいてもお返事できかねますのでご了承ください。</p>
<p>ご不明点がございましたら下記連絡先にご連絡いただけますと幸いです。</p>